$item-bg : #F7F7F7;

.file-browser-item {
    padding: 5px;
}

.file-browser-item .item-selected {
    background: blue;
}

.item-isSelected {
    background: #337AB7;
}

.item-isSelected a {
    color: #fff;
}
