.osf-tb-rows {
    position: relative;
    height: 400px;
    width: 600px;
}

.osf-tb-row {
    border-bottom: 1px solid #eee;
    height: 35px;
    padding: 0 5px;
}

.osf-tb-column {
    display: inline-block;
}
.osf-tb-selected {
    background: #204762;
    color: #FFFFFF;
}
