.osf-tb-rows {
    position: relative;
    height: 400px;
    width: 600px;
}

.osf-tb-item {
    border-bottom: 1px solid #eee;
    height: 35px;
}
.osf-tb-selected {
    background: #204762;
    color: #FFFFFF;
}
