<div class="osf-tb-row">
    {{#each columns as |column|}}
        {{log column}}
        <div class="osf-tb-column {{if selected 'osf-tb-selected'}} p-sm">{{get item column}}</div>
    {{/each}}
</div>
