<div class="osf-box osf-tb-breadcrumbs p-sm">
    {{#each breadCrumbs as |crumb index|}}
        <div class="osf-tb-crumb" {{action 'loadCrumb' crumb index}}>{{crumb.itemName}} > </div>
    {{/each}}
</div>
<div class="osf-tb-rows">
    {{#if files}}
        {{#each files as |file|}}
            {{osf-tb-item item=file columns=columns selectedItems=selectedItems multiSelect=(action 'multiSelect') dblClickItem=(action 'dblClickItem') }}
        {{/each}}

    {{else}}
        <div class="p-md">
            <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw text-muted"></i>
            <span class="sr-only">Loading...</span>
        </div>
    {{/if}}
</div>
