<div class="osf-box">
    {{#ember-collection items=files
        cell-layout=(fixed-grid-layout 600 50)
        as |file index|}}
        {{osf-tb-item item=file clickItem=(action 'clickItem') dblClickItem=(action 'dblClickItem')}}
    {{/ember-collection}}

</div>
