<div class="osf-box">
    {{#each breadCrumbs as |crumb index|}}
        <div {{action 'loadCrumb' crumb index}}>{{crumb.itemName}} > </div>
    {{/each}}
</div>
<div class="osf-tb-rows">


    {{#if files}}
        {{#ember-collection items=files
            cell-layout=(fixed-grid-layout 600 35)
            as |file index|}}
            {{osf-tb-item item=file clickItem=(action 'clickItem') dblClickItem=(action 'dblClickItem')}}
        {{/ember-collection}}
    {{else}}
        <div class="p-md">
            <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw text-muted"></i>
            <span class="sr-only">Loading...</span>
        </div>
    {{/if}}
</div>
