<div class="osf-box">
    {{#each breadCrumbs as |crumb|}}
        {{crumb.itemName}} >
    {{/each}}
</div>
<div class="osf-tb-rows">

    {{#ember-collection items=files
        cell-layout=(fixed-grid-layout 600 35)
        as |file index|}}
        {{osf-tb-item item=file clickItem=(action 'clickItem') dblClickItem=(action 'dblClickItem')}}
    {{/ember-collection}}

</div>
